* {
  margin: 0;
}

html {
  height: 100%;
  margin: 0px;
  background: url("https://i.ibb.co/61rfZGm/gradienta-Le-G68-Pr-XA6-Y-unsplash-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
